*{
    font-family: 'Roboto';
}

/* body{
    background-color: rgb(235, 237, 241);
} */

/* Top */

header {
    background-color: rgb(153, 204, 217);
    justify-content: space-between; 
    display: flex;  
}

#wrapper{
    display: inline-flex;
    align-items: end;
    padding: 1rem;
}

#wrapper img {
    border-radius: 50%;
    width: 100px;
    margin-left: 2rem;
}

#wrapper span, #wrapper p {
    text-align: end;
    padding-left: 1rem;
}

#wrapper span {
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    margin: 0;
    width: 100%;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
}

/* Body */

/* Top Image*/
.container {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
}

#hero-container {
    overflow: hidden;
    height: 30vw;
    border-radius: 2vw 2vw 0 0;
    display: flex;
    

}

#hero {
    width: 100%;
    justify-content: center;
    object-fit: cover;
}

/* Tab Sections*/

.tab{
    box-shadow: 0 0 10px rgba(0, 0, 0, .11);
    height: 100%;
}

.tab h2 {
    background-color: rgb(165, 66, 66);
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-top: 10px;
    margin-top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    height: auto;
}

.tab p{
    padding: 2.5%;
}
/* Member Cards */
#members{

}
.member-cards {
    margin-top: 5%;
    justify-items: center;
}

.member-cards section{
    box-shadow: 0 0 10px rgba(0, 0, 0, .11);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 75%;
    margin-top: 5%;
}

.member-cards #card-header {
    background-color: rgb(98, 106, 173);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2%;
    margin-bottom: 2%;
}

.member-cards #card-content {
    display: inline-flex;
    align-content: end;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;
}

.member-cards #card-content #card-text{
    margin-left: 10px;
}
.member-cards #card-content #card-text a{
    text-decoration: none;
    color: inherit;
}

.member-cards h2{
    color: rgb(255, 255, 255);
    text-align: center;
    height: auto;
    margin: 0;
    padding: 0;
}

.member-cards #card-header p{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.member-cards img {
    border-radius: 50%;
}

/* Bottom */

footer {
    background-color: rgb(153, 204, 217);
    text-align: center;
    padding: .5rem;
    margin-top: 5%;
}