* {
    --Nav: #BCD39D;
    --Footer: #FFBCB5;
    --Background: #4b3939;
    --DarkBackground: #2f2222;
    --LightBackground: rgb(236, 232, 232);
    --DarkMode: #181818;
    --Text: #23022E;

    color: var(--Text);
    font-family: "Unkempt"
}

.right-click-menu {
    display: none;
    position: absolute;
    text-align: center;
    background-color: var(--Footer);
    border: 1px solid var(--Background);
    z-index: 1000;
    width: 200px;
}

html {
    background-color: var(--DarkMode);
}

p,
figcaption {
    font-family: "Roboto"
}

a {
    text-decoration: none;
    color: inherit;
}

/* Top */

header {
    justify-content: center;
    display: flex;
}

header img {
    margin: 0 auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

/* Hamburger Settings */

#hamburger {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #ffffff;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: block;
    cursor: pointer;
}

#hamburger::before {
    content: "☰";
    color: white !important;
}

#hamburger.open::before {
    content: "❌";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s ease-in-out;
    text-align: center;
    align-content: center;
}

.nav-container {
    list-style-type: none;
    overflow: hidden;
}

#mobile-nav.open {
    grid-template-rows: 1fr;
    transition: grid-template-rows .5s ease-out;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    width: 90%;
    justify-content: space-around;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
}

#desktop-nav {
    display: none;
}

#mobile-nav {
    background-color: var(--Nav);
}

.page-title {
    text-align: center;
    margin-top: 2vw;
    padding: 12px;
    background-image: linear-gradient(var(--Background), var(--DarkBackground));
}

.page-title p,
.page-title h1,
.page-title p b {
    color: white;
    padding: 3px;
    margin: 0;
    font-family: "Roboto";
}

.gallery-container {
    display: grid;
    width: 90vw;
    grid-gap: 2em;
    grid-auto-columns: minmax(300px, 500px);
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.card {
    text-align: center;
    background-color: var(--LightBackground);
    padding: 1rem;
    border-radius: 8px;
    border: solid var(--Text);
}

.gallery-container img {
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 500px;
    transition: all ease-in-out .25s;
}

.info {
    padding: 20px;
    margin: 5vw 0;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info img {
    border-radius: 50%;
    margin: 0 auto;
}

.info li {
    list-style-type: none;
}

.left {
    border-radius: 30% 10% 30% 10%;
    background-color: var(--Footer);
    text-align: center;
}

.left div {
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    margin: 0 auto;
}

.right {
    border-radius: 10% 30% 10% 30%;
    background-color: var(--Nav);
}

.right div {
    background-color: transparent;
    padding: 5px;
    border-radius: 30%;
    width: fit-content;
    margin: 0 auto;
}


footer {
    background-color: var(--Footer);
    text-align: center;
    padding: 1rem;
    margin: 0;
}

dialog img {
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
}

dialog {
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 50;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.545);
}